@-moz-document domain('hangouts.google.com') {

/* This userstyle is meant to optimise the width and usable surface area of Google Hangouts.
   Primarily, I created this style in order to accommodate the Hangouts web-based view for
   smaller screens — specifically 320x480px, but it's still very much a work in progress.
  
   Among additional improvements so far is the removal of the big background image to save
   on device resources.
  
   Note. No copyright infringment intended (wrt class and id names).
   All trademarks are the property of their respective owners. */

/* #most of it */
DIV.g-Ue-Ja-t {min-width:628px;}

/* background image */
DIV.kFx1Ae-xdwExf-eb-m IMG {display:none;}
  
/* right block */
DIV.g-Ue-v0h5Oe {display:block; top:70px; left:5px; width:auto; min-width:unset; min-width:64px; max-width:unset; min-height:160px; z-index:0;}

/* right block rings (all) */
DIV.g-Ue-v0h5Oe UL {margin-top:0px; margin-bottom:0px; white-space:normal;}

/* right block rings (individual) */
DIV.g-Ue-v0h5Oe LI {margin-top:16px; margin-right:24px;}

/* right block rings */
DIV.g-Ue-b {margin-bottom:5px;}

}
